body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
header{
	background-image: url(img/bg.jpg);
	background-position: top center;
	min-height: 668px;
	background-repeat: repeat-x;
	position: relative;
	font-family: "BebasRegular"; 
}
header a{
	color: #fff;
	text-decoration: none;
}
.top_line a{

	font-style: 21px;
	border-bottom: #fff dashed 1px;
} 
.top_line a:hover{
	border-bottom: transparent dashed 1px;
}
.top_line{
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3)0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px; 
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 22px 0;
}
.top_addr{
	font-family: "BebasBold";
	padding-left: 50px;
	background-image: url(img/map.png);
	background-repeat: no-repeat;
	background-position: center left;
	line-height: 26px; 
}
.top_addr strong{
	
	display: block;
	text-transform: uppercase;
	color: #d12f22;
	font-weight: normal;
	font-size: 31px;
}
.top_line  .logo {
	border-bottom: none;
}
.top_line .logo a:hover{
	border-bottom: none;
}

