body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
header{
	background-image: url(img/bg.jpg);
	background-position: top center;
	min-height: 668px;
	background-repeat: repeat-x;
	position: relative;
	font-family: "BebasRegular";
}
header a{
	color: #fff;
	text-decoration: none;
}
.top_line a{
	font-style: 21px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover{
	border-bottom: transparent dashed 1px;
}
.top_line{
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3)0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 22px 0;
}
.top_addr{
	font-family: "BebasBold";
	padding-left: 50px;
	margin-top: 10px;
	background-image: url(img/map.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 26px;

}
.top_addr strong{

	display: block;
	text-transform: uppercase;
	color: #d12f22;
	font-weight: normal;
	font-size: 31px;
}
.top_line .logo{
	border-bottom: none;
    position: absolute;
    margin-top: -8px;
}
.top_line .logo a:hover{
	border-bottom: none;
}
.logo_wrap{
	position: relative;
	width: 206px;
	margin: auto;
}
.ta_right{
	background-image: none;
	text-align: right;
	padding-left: 0px;
	margin-right: 0px;
}
.ta_right span{
	color: #fff;
}
header h1{
	font-size: 41px;
	text-align: center;
	color: #fff;
	margin-top: 70px;
	text-shadow: 0 3px rgba(0,0,0,0.55);
	font-family: BebasRegular;
}
.button{
	display: inline-block;
	background-color: #d12f22;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 10px;
	font-size: 17px;
	border-bottom: #AC160A solid 4px;
}
header .button{
	margin-right: : 20px;
}
